body {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  width: 800px;
  margin: 30px auto;
  border-top: 5px solid #222;
  border-bottom: 5px solid #222;
  background-color: #f6f6f6;
  padding: 50px;


}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #030609;
  margin-top: 0;


}

nav {
  text-align: center;
  color: #222
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
}

.current-page {
  font-weight: bold;
  font-style: italic;
  color: #030609;
  border-right: 1px solid #222;
  padding-right: 6px
}

a {
  color:#05080C;
  font-weight: bold;

}

.avatar {
  height: 200px;
  float:right;
  border: 2px solid black;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px
}
